@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=VT323&display=swap');
body {
    margin: 0; 
    background-color: black;
    padding: 10px 20px; 
}

p {
    color: white; 
    font-family: 'VT323', monospace;
    font-size: 14px;
}

